<footer id="footer">
  <div class="credits flex-column">
    <h2>MIS.W 公式サイト</h2>
    <div class="flex">
      <!-- credits -->
    </div>
    <div class="social-area-syncer main-content-center">
      <p>SHARE</p>
      <ul class="flex">
        <li>
          <a
            href="https://twitter.com/share?url=https://misw.jp/&text=MIS.W 公式サイト&via=misw_info&related=misw_info"
            target="_blank"
            rel="noopener noreferrer nofollow">
            <img src="img/Twitter social icons - circle - blue.svg" alt="Twitterシェアボタン" />
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/share.php?u=https://misw.jp/" target="_blank" rel="noopener noreferrer"
            ><img src="img/f_logo_RGB-Blue_100.png" alt="Facebookシェアボタン"
          /></a>
        </li>
        <li>
          <a href="https://social-plugins.line.me/lineit/share?url=https://misw.jp/" target="_blank" rel="noopener noreferrer">
            <img src="img/LINE_APP_Android.png" alt="LINEシェアボタン" />
          </a>
        </li>
      </ul>
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v10.0" nonce="5rC6E0YM"></script>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
    </div>
    <div class="contact main-content-center">
      <p>お問い合わせ</p>
      <p class="contact-txt"><%- footer.contact %></p>
    </div>
    <div class="copyrights main-content-center">
      <p><%- footer.copyright %></p>
    </div>
  </div>
</footer>
