<footer id="footer">
  <div class="credits flex-column">
    <h2>MIS.W 公式サイト</h2>
    <div class="flex">
      <!-- credits -->
    </div>
    <div class="social-area-syncer main-content-center">
      <p>公式SNS</p>
      <ul class="flex">
        <li>
          <a
            href="https://twitter.com/misw_info"
            target="_blank"
            rel="noopener noreferrer nofollow">
            <img src="img/logo-twitter.webp" alt="Twitter" />
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/miswinfo" target="_blank" rel="noopener noreferrer">
            <img src="img/logo-facebook.webp" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/misw.info/" target="_blank" rel="noopener noreferrer">
            <img src="img/logo-instagram.webp" alt="Instagram" />
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/miswvideo" target="_blank" rel="noopener noreferrer">
            <img src="img/logo-youtube.webp" alt="Youtube" />
          </a>
        </li>
      </ul>
    </div>
    <div class="contact main-content-center">
      <p>お問い合わせ</p>
      <p class="contact-txt"><%- footer.contact %></p>
    </div>
    <div class="copyrights main-content-center">
      <p><%- footer.copyright %></p>
    </div>
  </div>
</footer>
