<header id="header" class="header">
  <div class="header-logo">
    <a href="index.html"><img src="img/logo.webp" alt="MIS.W" /></a>
  </div>
  <div class="hamburger">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="hamburger-wrap"></div>
  <nav class="header-nav">
    <ul>
      <li>
        <a href="./">Top</a>
      </li>
      <li>
        <a href="./about.html">About</a>
      </li>
      <li>
        <a href="./works.html">Works</a>
      </li>
      <li>
        <a href="./join.html">Join Us</a>
      </li>
      <li>
        <a href="<%- blog.url %>">Blog</a>
      </li>
    </ul>
  </nav>
</header>
