@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;700&display=swap');
/*--- common style ---*/

$misw: #00479c;
$prog: #309674;
$cg: #edad2f;
$midi: #b24398;

* {
  margin: 0;
  padding: 0;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
header,
nav,
section {
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Arial', 'メイリオ', 'Meiryo', 'sans-serif';
  color: #2b2b2b;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
/* h1,h2,h3,h4,h5,h6 {
} */
h1 {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin: 30px 0 30px;
}
h2 {
  text-align: center;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 2rem;
    margin: 3vh 0 3vh;
  }
}

li {
  list-style-type: none;
}
img {
  display: block;
  width: 100%;
  border: none;
}
address {
  font-style: normal;
}
.video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
audio {
  max-width: 100%;
}
#special iframe {
  width: 100%;
}
.clear {
  clear: both;
}
.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.align-top {
  align-items: flex-start;
}
.align-bottom {
  align-items: flex-end;
}
.justified {
  text-align: justify;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--- link style ---*/
a {
  color: #2b2b2b;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover,
a:hover > * {
  text-decoration: underline;
  opacity: 0.7;
}
a:active,
a:active > * {
  opacity: 0.5;
}
.pointer {
  cursor: pointer;
}

/*--- custom style ---*/
/* loader(removed) */

/* wrapper */
#wrapper {
  background-color: #fff;
}

#header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-duration: 1.5s;
  animation-delay: 5s;
  border-bottom: 2px solid #2b2b2b;
  color: #2b2b2b;
  background-color: rgba(255, 255, 255, 0.5);
}
.header-logo {
  display: flex;
  align-items: flex-end;
  height: inherit;
}
.header-logo img {
  object-fit: cover;
  width: auto;
  height: 60px;
  margin-left: 10px;
}
.header-logo p {
  color: #2b2b2b;
  margin-bottom: 15px;
}
.header-nav a {
  color: #2b2b2b;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
  }
  .header-nav ul li {
    display: inline-block;
    margin-left: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .hamburger-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 50;
    display: none;
  }
  .hamburger {
    width: 70px;
    height: 70px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #2b2b2b;
    cursor: pointer;
    position: relative;
    z-index: 200;
  }
  .hamburger i {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 4px;
    background: #2b2b2b;
    transition: all 0.5s;
  }
  .hamburger i:first-child {
    top: 30%;
  }
  .hamburger i:nth-child(2) {
    top: 50%;
  }
  .hamburger i:last-child {
    top: 70%;
  }
  .hamburger.open i:first-child {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .hamburger.open i:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open i:last-child {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .header-nav {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    background: white;
    transition: all 0.5s;
    z-index: 100;
  }
  .header-nav ul {
    margin: 80px 0 0 0;
    padding: 0;
    list-style: none;
  }
  .header-nav li {
    padding: 10px 0;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
  }
  .header-nav.open {
    right: 0;
  }
  .header-nav.open li {
    margin-right: 0;
    opacity: 1;
  }
  .header-nav.open li:first-child {
    transition-delay: 0.5s;
  }
  .header-nav.open li:nth-child(2) {
    transition-delay: 0.7s;
  }
  .header-nav.open li:nth-child(3) {
    transition-delay: 0.9s;
  }
  .header-nav.open li:nth-child(4) {
    transition-delay: 1.1s;
  }
  .header-nav.open li:nth-child(5) {
    transition-delay: 1.3s;
  }
}

#backToTop {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  font-weight: 500;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #2b2b2b;
  text-align: center;
  margin: 35px;

  &::after {
    position: absolute;
    top: 55%;
    left: 50%;
    content: '';
    width: 30%;
    height: 30%;
    border-right: 1px solid #2b2b2b;
    border-top: 1px solid #2b2b2b;
    transform: translate(-50%, -50%) rotate(-45deg);
    box-sizing: border-box;
    animation: popping 2.5s infinite;
  }

  @media screen and (max-width: 767px) {
    width: 9vw;
    height: 9vw;
    font-size: 6.4vw;
    line-height: 11.6vw;
    border-width: 2px;
    margin: 5vw;
  }

  &:hover {
    text-decoration: none;
    opacity: 0.7;
  }
}

/* main */
main {
  width: 100%;
  margin: 0 auto;
}
.top-margin {
  height: 70px;
  background-color: transparent;
}

/* mv */
#mv {
  width: 100vw;
  height: 50vw;
  position: relative;
  overflow: hidden;

  img.mv_picture {
    object-fit: contain;
  }

  img.mv_letters {
    width: auto;
    height: 25vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img.mv_picture_sp.-index {
    display: none;
  }

  .mv_side {
    position: absolute;
    top: 50%;
    right: 0;
    height: 80%;
    width: 20vw;
    transform: translate(0, -50%);
    margin-right: 10%;
    display: flex;
    flex-direction: column;

    .event {
      object-fit: contain;
      margin-bottom: 20%;
      flex-grow: 1;
    }
    .timeline {
      flex-grow: 4;
      height: 50%;
      border: none;
      overflow: scroll;
      text-align: center;
    }
  }
  .mv_heading {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      letter-spacing: 0.1em;
      margin-bottom: 5px;
    }
    h3 {
      letter-spacing: 0.08em;
      font-size: 16px;
    }
  }

  @media screen and (max-width: 767px) {
    width: 100vw;
    height: calc(100vw * 1667 / 1250);

    img.mv_picture.-index,
    img.mv_letters {
      display: none;
    }
    img.mv_picture_sp.-index {
      display: block;
      height: calc(100vw * 1667 / 1250);
    }
    img.mv_picture.-about {
      object-fit: cover;
      height: 100vh;
    }
    img.mv_picture.-works {
      object-fit: cover;
      height: 100vh;
    }
    img.mv_picture.-join {
      object-fit: cover;
      height: 100vh;
    }
    .mv_side {
      display: none;
    }
  }
}

/* container */
#container {
  z-index: 50;

  section {
    display: flex;
    flex-direction: column;
    width: calc(85% - 100px);
    max-width: 1920px;
    background-color: #fff;
    margin: auto;
  }
  @media screen and (max-width: 767px) {
    section {
      margin: 2.5vw 2.5vw;
      width: auto;
    }
  }
  .main-ttl {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  .main-ttl .main-ttl-letters {
    display: flex;
    justify-content: center;
  }
  .main-ttl .main-ttl-letters span {
    font-family: 'Shippori Mincho B1', serif;
    font-weight: bold;
    display: inline;
    margin: 0 1.5em;
  }
  .main-ttl .main-ttl-line {
    height: 2px;
    background-color: #2b2b2b;
    margin: 0 auto;
  }
  .main-content-center {
    text-align: center;
  }
  .main-txt-large {
    font-size: 1.8rem;
    margin: 1rem auto;
    letter-spacing: 0.15em;
  }
  @media screen and (min-width: 768px) {
    .main-txt-large {
      font-size: 1.5rem;
    }
  }
  .main-txt {
    font-weight: lighter;
    margin: 2.5rem auto;
    padding: 0 1rem;

    .pointer + div {
      margin-top: 1rem;
    }
    & > p {
      padding: 1rem 0;
    }
    &.-center {
      text-align: center;
    }
  }
  #works-frame {
    border: none;
    height: 640px;
  }
}

#about {
  .group-intro {
    ul.group {
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: space-around;

      li {
        width: 15vw;
        a {
          width: 8vw;
          height: 8vw;
          margin: 0 auto;
          border: solid #2b2b2b 3px;
          @include flex-center;
          transition: all 0.8s;
          &:hover {
            fill: #fff;
            opacity: 1;
          }
          svg {
            opacity: 1;
            width: 65%;
            height: 65%;
          }
          img {
            width: 60%;
            height: 60%;
            object-fit: contain;
          }

          &.group_prog {
            fill: $prog;
            border-color: $prog;
            &:hover {
              fill: #fff;
              background-color: $prog;
            }
          }
          &.group_cg {
            fill: $cg;
            border-color: $cg;
            &:hover {
              fill: #fff;
              background-color: $cg;
            }
          }
          &.group_midi {
            fill: $midi;
            border-color: $midi;
            &:hover {
              fill: #fff;
              background-color: $midi;
            }
          }
        }
      }
      .group_txt {
        font-size: 20px;
      }

      @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        li {
          width: 90vw;
          margin: 20px;
          a {
            width: 45vw;
            height: 45vw;
          }
        }
      }
    }
    .group-btn {
      width: max-content;
      height: 6vh;
      line-height: 6vh;
      padding: 0 0.8rem;
      color: #2b2b2b;
      background-color: #d3d3d3;
      text-align: center;
    }
    .group-btn-under {
      display: block;
      margin: 3vh 5vh 6vh auto;
      @media screen and (max-width: 767px) {
        margin: 3vh auto 6vh auto;
      }
    }
  }

  .about-content {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;

    &-txt {
      width: 66%;
      border: solid 5px;
      padding: 40px 40px;
    }
    &-ttl {
      margin-bottom: 25px;
    }
    &-des {
      font-size: 14px;
      margin: 30px auto;
    }
    &-keys {
      font-size: 12px;
      margin: 10px auto;
    }
    &-img {
      height: 400px;
      width: 33%;
      margin: 0 20px;
      @include flex-center;
      img {
        height: 100%;
        object-fit: contain;
      }
    }
    &.-prog {
      .about-content-txt {
        border-color: $prog;
      }
    }
    &.-cg {
      .about-content-txt {
        border-color: $cg;
      }
      .about-content-img {
        width: 33%;
      }
    }
    &.-midi {
      .about-content-txt {
        border-color: $midi;
      }
    }

    @media screen and (max-width: 767px) {
      justify-content: center;
      &-img {
        display: none;
      }
    }
  }
}

#works,
#join {
  a {
    font-weight: bold;
  }
}

.page_about {
  h1 {
    margin-bottom: 2em;
  }

  .main-content {
    width: 95%;
    margin: 0 auto;
  }
  #intro {
    .main-content {
      justify-content: space-between;
      &-col {
        width: 45%;
        &.-left {
          text-align: center;
          img {
            object-fit: contain;
          }
        }
        &.-right {
          table {
            width: 100%;
            border-collapse: collapse;
            tr {
              td {
                padding: 1em 0.5em 0;
                border-bottom: 1px solid #333;
                &:first-child {
                  white-space: nowrap;
                }
                &:last-child {
                  text-align: end;
                }
              }
            }
          }
        }
      }

      @media screen and (max-width: 767px) {
        display: block;
        &-col {
          width: 100%;
          font-size: 0.8rem;
        }
      }
    }
  }

  #anual {
    .main-content {
      justify-content: space-between;
      &-col {
        &.-left {
          width: 70%;
          @media screen and (max-width: 767px) {
            width: 100%;
          }
          table {
            width: 100%;

            tr {
              &:nth-child(odd) {
                font-size: 18px;
                white-space: nowrap;

                @mixin month-color($n) {
                  &:nth-child(#{$n}) {
                    td:first-child {
                      background-color: hsl($n * 15, 80%, 80%);
                    }
                  }
                }
                $i: 1;
                @for $i from 1 through 24 {
                  @include month-color($i);
                }

                td {
                  padding: 0.2rem 0;
                  &:first-child {
                    text-align: center;
                    border-radius: 100vh;
                    width: 2rem;
                    padding: 0 1.5rem;

                    &.no-backcolor {
                      background-color: transparent;
                    }
                  }

                  &:last-child {
                    padding-left: 3.5rem;
                    font-size: 20px;
                    @media screen and (max-width: 767px) {
                      padding-left: 1rem;
                    }
                  }
                }
              }

              &:nth-child(even) {
                font-size: 16px;
                td {
                  padding: 0em 0em 1.5rem;
                  padding-left: 10rem;
                  @media screen and (max-width: 767px) {
                    padding-left: 1rem;
                  }
                }
              }
            }
          }
        }
        &.-right {
          width: 25%;
          img {
            object-fit: contain;
          }
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
      }
    }
  }

  #kanbu {
    .rect {
      text-align: center;
      width: 31%;
      box-sizing: border-box;
      padding: 30px;
      margin: 10px 0;
      border-radius: 5%;
      background-size: cover;
      background-position: center center;
      position: relative;
      overflow: hidden;

      * {
        z-index: 10;
        position: relative;
      }

      h4 {
        font-size: 18px;
        color: #fff;
        border-bottom: solid #fff 2px;
      }
      .kanbu-img {
        width: 10vw;
        height: 10vw;
        margin: 30px auto;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
      }
      p {
        color: #fff;
        font-size: 16px;
        line-height: 1.8;
      }
      .kanbu-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        object-fit: cover;
        filter: brightness(0.4);
      }

      @media screen and (max-width: 767px) {
        width: 95%;
        .kanbu-img {
          width: 50vw;
          height: 50vw;
          margin: 30px auto;
          border-radius: 50%;
          background-size: cover;
          background-position: center center;
        }
      }
    }
  }
}

/* footer */
#footer {
  width: calc(100% - 60px);
  padding: 10px 30px;
  align-items: center;
  border-bottom: 2px solid #2b2b2b;
  background-color: #456280;

  .main-content-center {
    margin: 0.3rem;
    text-align: center;
  }

  .credits {
    margin: 0 auto;

    & * {
      color: white;
      margin: 0;
    }
    & > * {
      color: white;
      margin: 15px 0;
    }

    .social-area-syncer ul {
      border: none;
      list-style-type: none;
      justify-content: center;
      width: 75%;
      margin: 20px auto;
      li {
        margin: 0 1.5rem;
        img {
          width: 2.5rem;
          display: inline;
        }
      }
    }

    .contact {
      &-txt {
        font-size: 14px;
        margin: 0.8em 0;
      }
    }

    .copyrights {
      font-size: 10px;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 3vw;
    width: auto;
    align-items: center;
    border-bottom: 2px solid #2b2b2b;
    background-color: #456280;

    .credits > * {
      margin: 1vh 0;
    }
    .links {
      margin: 2vh 0;
    }
  }
}

@keyframes popping {
  0% {
    top: 30%;
  }
  30% {
    top: 50%;
  }
  90% {
    top: 30%;
  }
  100% {
    top: 30%;
  }
}

/* join */
.join-main_notice {
  padding: calc(1rem - 0.75rem * 1 / 2) 1rem;
  border-radius: 0.5rem;
  background-color: var(--grey4);
  font-size: 0.75rem;
  line-height: 2;
}

.join-procedure {
  display: grid;
  row-gap: 2rem;
  counter-reset: attendCounter;
}

.join-procedure_step_heading {
  margin: calc(-1 * 1.5rem * 0.25 / 2) 0;
  padding-bottom: 1rem;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.25;
}

.join-procedure_step_heading::before {
  counter-increment: attendCounter;
  content: counter(attendCounter) '. ';
}

.join-procedure_step_content {
  display: grid;
  gap: 1rem;
}

.join-procedure_step_content_img {
  object-fit: contain;
  width: 100%;
  aspect-ratio: 3 / 2;
  background-color: var(--grey4);
}

@media screen and (min-width: 768px) {
  .join-procedure_step_content {
    grid-template-columns: 3fr 2fr;
    align-items: center;
  }
}
