<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns#">
    <title>About Us | MIS.W 公式サイト</title>
    <meta property="og:url" content="https://misw.jp/about" />
    <meta property="og:title" content="About Us | MIS.W 公式サイト" />
    <%- include('_header') %>
  </head>
  <body>
    <div id="wrapper" class="wrapper">
      <header id="header" class="header">
        <div class="header-logo">
          <a href="index.html"><img src="img/logo.png" alt="MIS.W" /></a>
        </div>
        <div class="hamburger">
          <i></i>
          <i></i>
          <i></i>
        </div>
        <div class="hamburger-wrap"></div>
        <nav class="header-nav">
          <ul>
            <li>
              <a href="index.html">Top</a>
            </li>
            <li>
              <a href="about.html">About</a>
            </li>
            <li>
              <a href="index.html#works">Works</a>
            </li>
            <li>
              <a href="index.html#join">Join Us</a>
            </li>
          </ul>
        </nav>
      </header>

      <main>
        <div class="top-margin"></div>
        <div>
          <a id="backToTop" href="#"></a>
        </div>

        <section id="mv">
          <img class="mv_picture -about" src="img/back_blue.png" alt="about_メイン" />
          <div class="mv_heading">
            <h1>About Us</h1>
            <h3>サークル紹介</h3>
          </div>
        </section>

        <div id="container" class="page_about">
          <section id="intro" class="intro">
            <h1>
              <div class="main-ttl">
                <div class="main-ttl-letters">サークル概要</div>
                <div class="main-ttl-line"></div>
              </div>
            </h1>
            <div class="main-content flex">
              <div class="main-content-col -left">
                <img src="img/logo.png" alt="misw_logo" />
                <p>―早稲田大学経営情報学会―</p>
                <p>Management Information Society of Waseda University</p>
              </div>
              <div class="main-content-col -right">
                <table>
                  <tr>
                    <td>設立</td>
                    <td>1969年4月16日</td>
                  </tr>
                  <tr>
                    <td>部員数</td>
                    <td>約70人 (2022年3月時点)</td>
                  </tr>
                  <tr>
                    <td>活動時間</td>
                    <td>水曜日21:00～22:30<br />土曜日14:00～15:30</td>
                  </tr>
                  <tr>
                    <td>活動場所</td>
                    <td>（新型コロナ感染拡大防止のため）<br />Discordによるオンライン活動</td>
                  </tr>
                  <tr>
                    <td>部室</td>
                    <td>戸山キャンパス学生会館　E927</td>
                  </tr>
                  <tr>
                    <td>会費</td>
                    <td>入会費1000円 半期1500円<br />(活動オンライン化に伴い変更)</td>
                  </tr>
                </table>
              </div>
            </div>
          </section>
          <section id="anual" class="anual">
            <h1>
              <div class="main-ttl">
                <div class="main-ttl-letters">MIS.Wの一年</div>
                <div class="main-ttl-line"></div>
              </div>
            </h1>
            <div class="main-content flex">
              <div class="main-content-col -left">
                <table>
                  <tr>
                    <td>4月</td>
                    <td>新歓</td>
                  </tr>
                  <tr>
                    <td colspan="2">サークルについての説明や、簡単なデジタル創作を創作を体験できます。</td>
                  </tr>
                  <tr>
                    <td>5月</td>
                    <td>ゲームジャム</td>
                  </tr>
                  <tr>
                    <td colspan="2">少人数でチームをつくり、3日でゲームを完成させるイベントです。</td>
                  </tr>
                  <tr>
                    <td class="no-backcolor"></td>
                    <td>企画発表会</td>
                  </tr>
                  <tr>
                    <td colspan="2">早稲田祭や冬コミに向けた企画の発表を行います。</td>
                  </tr>
                  <tr>
                    <td>6月</td>
                    <td>研究発表会</td>
                  </tr>
                  <tr>
                    <td colspan="2">それぞれが作った創作物を研究会ごとに披露します。</td>
                  </tr>
                  <tr>
                    <td>8月</td>
                    <td>夏コミ</td>
                  </tr>
                  <tr>
                    <td colspan="2">MIS.Wでは、夏コミで画集と音楽CDを無料頒布しています。</td>
                  </tr>
                  <tr>
                    <td>9月</td>
                    <td>夏合宿</td>
                  </tr>
                  <tr>
                    <td colspan="2">避暑地へ行き、勉強会を行ったり、遊んだりします。</td>
                  </tr>
                  <tr>
                    <td>11月</td>
                    <td>早稲田祭</td>
                  </tr>
                  <tr>
                    <td colspan="2">企画で作ったゲームや同人誌などを外部の方に披露します。</td>
                  </tr>
                  <tr>
                    <td>12月</td>
                    <td>冬コミ</td>
                  </tr>
                  <tr>
                    <td colspan="2">夏同様、画集と音楽CDに加え、つくったゲームも無料頒布します。</td>
                  </tr>
                  <tr>
                    <td>3月</td>
                    <td>冬合宿</td>
                  </tr>
                  <tr>
                    <td colspan="2">勉強会を行ったり、スキーやスノボーを楽しみます。</td>
                  </tr>
                  <tr>
                    <td>不定期</td>
                    <td>講座</td>
                  </tr>
                  <tr>
                    <td colspan="2">様々な分野で初心者のために0から創作の仕方を教えてくれます。</td>
                  </tr>
                  <tr>
                    <td class="no-backcolor"></td>
                    <td>LT大会</td>
                  </tr>
                  <tr>
                    <td colspan="2">サークル員が短い時間で様々なテーマのことをプレゼンします。</td>
                  </tr>
                </table>
              </div>

              <div class="main-content-col -right flex-column">
                <img src="img/anual_1.png" alt="" />
                <img src="img/anual_2.png" alt="" />
                <img src="img/anual_3.png" alt="" />
              </div>
            </div>
          </section>

          <%- include('_kanbu', {kanbu: kanbu}) %>
        </div>
      </main>
      <%- include('_footer') %>
    </div>
    <%- include('_analytics') %>
  </body>
</html>
